<html>
<head>
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
</head>
<body>
    {% comment %} {%  render 'header' %} {% endcomment %}
    {% section 'header' %}
    {{ content_for_layout }}
    {% section '2022-top' %}
    
</body>
</html>

<style>
    body {
      background-color: {{ settings.bg }};
      color: {{ settings.text_color }};
    }
</style>
  